
body, h1, h2, h3, p, ul, li, input, button {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.App {
  background-color: #f0f5e9;
  text-align: center;
  padding: 20px;
}

h1 {
  font-size: 36px; 
  color: #2e493d; 
  margin-bottom: 20px; 
}

/* Grocery List Styles */
.grocery-list {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.grocery-item {
  background-color: white;
  padding: 10px;
  border: 1px solid #d0d0d0;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

/* Modal Styles */
.modal {
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 69; /* Make sure modal is on top, haha 69 funny */
}

.modal-content {
  background-color: #2e493d; 
  color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
  max-width: 400px;
  width: 100%;
}

.modal h2 {
  font-size: 24px; 
  margin-bottom: 10px;
}

.modal input {
  width: 100%;
  padding: 10px;
  margin: 10px 0; 
  border: none;
  border-radius: 5px;
  background-color: #f0f5e9; /* Sage Green Input Background */
  color: #2e493d; 
}

.modal button {
  background-color: #f0f5e9; 
  color: #2e493d; 
  padding: 12px 24px; 
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  font-size: 18px; 
  transition: background-color 0.3s ease, color 0.3s ease; /*hover effect */
}

.modal button:hover {
  background-color: #2e493d; 
  color: white;
  transform: scale(1.2); /* Button scale-up effect on hover */
}


.grocery-list {
  list-style: none;
  padding: 0;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.grocery-item {
  background-color: white;
  padding: 10px;
  border: 1px solid #d0d0d0;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  min-width: 200px;
  max-width: 300px;
  text-align: left;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* fIND SOME Cute Font */
}

/* Style for grocery item titles */
.grocery-item h3 {
  font-size: 24px; 
  color: #2e493d; 
  margin-bottom: 10px;
}


.grocery-item p {
  font-size: 16px; 
  color: #555; 
  margin-bottom: 5px;
}

